@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body.lock {
    overflow: hidden;
}

@viewport {
    width: 1365;
    zoom: 1;
}

@media (max-width: 479px) {
    @viewport {
        width: device-width;
    }
}
